.git
.gitignore
.github
.env
.env.local
*.md
docs
examples
extras
build
dist
pkg
src
bin
.vagrant
.elasticbeanstalk
Vagrantfile
Makefile
*.pyc
*.egg-info
.tmp
bower_components
node_modules
*.test
*.out
.DS_Store
